@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

section.competition {
  padding: 131px 0;
  background-image: url("/images/triv_competition_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
}

section.triv-reward {
  background: #242424;
  padding: 50px 0;
}

section.pendaftaran {
  padding: 131px 0;
  background-image: url("/images/registration_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
}

section.leaderboard {
  background: #242424;
  background-size: cover;
  background-repeat: no-repeat;
}

.card {
  word-wrap: break-word;
}

.triv-trading-competition {
  font-family: Montserrat;
  font-size: 60px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.6px;
  text-align: left;
  color: #fff;
}

.btn-daftar-sekarang {
  padding: 17px 24px 17px 27px;
  border-radius: 4px;
  background-color: #3189c6;
  font-family: Montserrat;
  font-size: 24.5px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff
}

.semua-bisa-menang {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: italic;
  line-height: normal;
  letter-spacing: -0.24px;
  text-align: center;
  color: #fff
}

.calling-all-investor {
  object-fit: contain;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: -0.32px;
  text-align: left;
  color: #fff;
}

.periode-kompetisi {
  font-family: Montserrat;
  font-weight: 500;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.8;
  letter-spacing: -0.2px;
  text-align: left;
  color: #fde090;
}

.semuabisamenang-reward {
  font-family: Montserrat;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.53;
  letter-spacing: -0.36px;
  color: #fff;
}

.bukan-dari-trading-volume {
  font-family: Montserrat;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: -0.28px;
  color: #a4acbe;
}

.shadow-bottom  {
  background: -webkit-radial-gradient(50% 0%, 50% 18px, #000 0%, transparent 100%);
}

.blue-underline  {
  border-bottom: 20px solid #4d75b2;
}

.triv-quest-reward-title  {
  text-shadow: 8.1px 5.9px 0 rgba(0, 0, 0, 0.4);
  font-family: Montserrat;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.45px;
  color: #fff;
}

.title-reward {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.24px;
  text-align: center;
  color: #fff;
}

.side-quest {
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: -0.4px;
  text-align: left;
  color: #fff;
}

.lihat-info-detail {
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: -0.28px;
  text-align: left;
  color: #fff;
}

section.side-quest-bg  {
  background-image: url("/images/side_quest_weekly_quest_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.cara-pendaftaran {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.53;
  letter-spacing: -0.36px;
  color: #fff;
}

.cukup-memiliki-akun-triv {
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: -0.28px;
  color: #fff;
}

.time-font {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.36px;
  text-align: left;
  color: #fff;
  padding: 10px;
}

.time-event {
  background: #161c2a;
  color: #fff;
  border-radius: 20px;
  font-size: 30px;
  text-align: center;
}

.percent {
  color: #58bd7d;
  padding-bottom: 50px;
  font-size: 42px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.42px;
  text-align: center;
}

.card {
  background-image: url("/images/rank_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.rank {
  width: 166px;
  height: 166px;
  object-fit: contain;
  mix-blend-mode: lighten;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.leaderboard-name {
  object-fit: contain;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: -0.32px;
  text-align: center;
  color: #fff;
}

.rules-pendaftaran {
  background: #333333;
  color: #fff;
  font-size: 20px;
  border-radius: 20px;
}

.general-rules-title {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.32px;
  text-align: left;
  color: #fff;
}

.font-rules {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.24px;
  text-align: left;
  color: #fff;
}

ol.font-rules {
  list-style-type: decimal;
}